h1, h3, h5 {
  text-align: center;
}

.header {
  overflow: hidden;
  height: 5vh;
  background: url"https://cdn.apartmenttherapy.info/image/upload/v1585682287/at/art/design/zoom-backgrounds/AT-zoom-backgrounds-Ramona.jpg") 50%/ cover
}
h1 {
  color: white;
    font: 900 35vmin/50vh cookie, cursive;
    text-align: center;
    mix-blend-mode: difference
}

p {
  font-size: 24px;
  color: black;
}

.card {
  opacity: 0.95;
  
}

body {
  background-image: url("https://cdn.apartmenttherapy.info/image/upload/v1585682287/at/art/design/zoom-backgrounds/AT-zoom-backgrounds-Ramona.jpg");
}